.content_body{
    height: auto;
    width: 100%;
    background-color: #ecf0f4;
}
label{
    font-weight: 600px;
    font-size: 16px;
}
.title_option{
    font-weight: 600px;
    color: rgb(0, 0, 0);
}
.dis-none{
    display: none;
}
.dis-block{
    display: block;
}
/* top header */
.mail_top_header{
    cursor: pointer;
}
.phone_top_header{
    cursor: pointer;
}

/* content btn change */
.content_confirm_change{
    height: 80px;
    width: 100%;
    background-color: #ffff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    z-index: 10000;
    box-shadow: 5px 20px 20px rgb(206, 203, 203) inset;
}
.content_btn_change{
   position: absolute;
   bottom: 20px;
   right: 20px;
}
.btn{
    padding: 10px 20px;
    font-size: 18px;
}
.content-btn-back{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.back_to_admin{
    padding: 20px;
    color: black;
    font-weight: 500;
}
